{% extends "manday/base.html" %}
{% block header %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "manday/css/div_style.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>

    <script type="text/javascript" src="{% static "manday/js/get_func.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/calendar.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/admin/DateTimeShortcuts.js" %}"></script>

{% endblock header %}

{% block content %}
    <div style="margin-left: 50px">
        <div style="background: #79aec8;margin-bottom: 20px">
            <label style="color: #fff;font-size: 20px">加入新时间记录</label>
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="div_input">
                <label style="min-width: 80px">项目名：</label>
                <select name="project_id">
                    <option selected>- - - - - - - -</option>
                    {% for p in projects %}
                        <option value={{ p.id }}>{{ p }}</option>
                    {% endfor %}
                </select>
                <a class="related-widget-wrapper-link add-related" id="add_id_project"
                   href="{% url 'manday:add_project_from_person' person_id %}"
                   title="Add another project"><img src="/static/admin/img/icon-addlink.svg" alt="Add"></a>
            </div>

            <div class="div_input">
                <label style="min-width: 80px">时长：</label>
                <input type="number" name="hours" value="8" style="color: red; "/>
                <label>小时</label>
            </div>

            <div class="div_input">
                <label style="min-width: 80px">工作日：</label>
                <input name="work_date" type="text" class="vDateField" size="10" required="" id="work_date">
            </div>
            <div class="div_input">
                <label style="min-width: 80px">备注：</label>
                <textarea name="comment" size="10" id="comment"  rows="5" cols="100"></textarea>
            </div>
            <div>
                <label style="min-width: 80px">录入日期：</label>
                <input name="input_date" type="text" class="vDateField" size="10" required="" id="input_date">
                <label style="margin-left: 20px">时间：</label>
                <input name="input_time" type="text" class="vTimeField" size="10" required="" id="input_time">
            </div>
            <div>
                <input type="submit" value="保存"/>
            </div>

        </form>

    </div>
{% endblock content %}