{% extends "manday/base.html" %}
{% block header %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "manday/css/div_style.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>
{% endblock header %}

{% block content %}
    <table border="1">
        <tr class="table_header">
            <th width="50"> 序号</th>
            <th width="50"> 姓名</th>
            <th width="150"> 项目</th>
            <th width="50"> 时长</th>
            <th width="80"> 工作日</th>
            <th width="150"> 录入时间</th>
            <th width="50"> 操作</th>
        </tr>

        {% if recorder_list %}
            {% for item in recorder_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.person.p_name }}</td>
                    <td>{{ item.project.p_name }}</td>
                    <td>{{ item.p_hours }}  小时</td>
                    <td>{{ item.p_work_date|get_local_date }}</td>
                    <td>{{ item.p_add_time|get_local_datetime }}</td>
                    <td>
                        <a href="{% url 'manday:delete_hours' item.id %}">删除</a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}

    </table>
{% endblock content %}